#map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("./imagens/37130.jpg");
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
}

#map {
    height: 60vh;
    width: 100vh;
    z-index: 0;
}
.grafico-container{
    background-color: #191919; 
    background-position: center; 
}
.alerta {
    background-color: #38a185; /* Cor de fundo verde */
    border: none;
    color: #ffffff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;
}

.alerta:hover {
    background-color: #ffffff; 
    color: #38a185;
    border: solid 1px #38a185;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: 0; 
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: rgba(0, 0, 0, 0.5); 
    color: #ffffff;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    height: 18vh;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    top: 0; 
}

.logo {
    flex: 1;
}

.logo img {
    max-height: 120px; 
    width: auto; 
    margin-right: auto; 
}

.navbar {
    display: flex;
    justify-content: flex-end;
    position: relative;
    align-items: center; 
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    color: #ffffff;
    font-size: 24px; 
}

.menu {
    list-style-type: none;
    display: flex;
    margin-top: 0;
    padding: 0; 
}

.menu li {
    margin-left: 20px;
}

.menu li a {
    color: #ffffff; 
    text-decoration: none;
    font-family: "Exo", sans-serif;
    transition: color 0.3s ease;
}

.menu li a:hover {
    color: #2C92D5;
}

.menu li.cadastro a {
    color: #ffffff; 
    background-color: #2C92D5;
    border-radius: 20px;
    padding: 15px;
    font-weight: bold; 
}

.menu li.cadastro a:hover{
    color: #2C92D5; 
    background-color: #ffffff;
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

@media (max-width: 768px) {
    .hamburger-menu {
        display: flex; 
    }
    .container {
        padding: 0 10px;
    }

    .menu {
        display: none;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.7); 
        position: fixed;
        top: 60px;
        left: -100%; 
        width: 100%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 20px 0; 
        z-index: 999;
        transition: left 0.3s ease; 
    }

    .menu.active {
        left: 0; 
    }

    .menu li {
        margin-left: 0;
        padding: 10px 20px;
        border-bottom: 1px solid #ffffff; 
    }

    .hamburger-menu {
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }
}

@media (min-width: 769px) {
    .menu {
        display: flex;
    }
}
